/*
 * -------------------------------------------------
 * Nextflow config file for CIDGOH_QC
 * -------------------------------------------------
 * Basic configuration
 * -------------------------------------------------
 */

params {
  // set up default params
  max_cpus = 8 // Base specifications
  max_memory = 32.GB // Base specifications
  max_time = 12.h // Base specifications
  noReports = false // Reports are made by default
  outdir = "${PWD}/results" // Path to output directory
  publishDirMode = 'link' // publishDir mode is 'link' by default
  tag = 'latest' // Default tag is latest, to be overwritten by --tag <version>
}

process {
  // set minimal values in case there is no other specification -> prevent task.* to be Null
  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 2.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

report {  // Turning on execution report by default
  enabled = true
  file = "${params.outdir}/Reports/report.html"
}

timeline { // Turning on timeline tracking by default
  enabled = true
  file = "${params.outdir}/Reports/timeline.html"
}

dag { // Turning on dag by default
  enabled = true
  file = "${params.outdir}/Reports/DAG.jpg"
}

trace { // Turning on trace tracking by default
  enabled = true
  fields = 'process,task_id,hash,name,attempt,status,exit,realtime,cpus,memory,%cpu,vmem,rss,submit,start,complete,duration,realtime,rchar,wchar'
  file = "${params.outdir}/Reports/trace.txt"
}