params {
  enable_conda = false
  pull_docker_container = false
  containerPath = '/project/rrg-whsiao-ab/shared_tools/cidgoh_qc/containers'
  autoMounts= true
}


process {
    withName:fastqc {
        container = "${params.containerPath}/fastqc-0.11.9_cv7.sif"
    }
    withName:multiqc {
        container = "${params.containerPath}/multiqc.sif"
    }
}
