/*
 * -------------------------------------------------
 * Nextflow config file for CIDGOH_QC
 * -------------------------------------------------
 * Slurm configuration for Cedar cluster
 * -------------------------------------------------
 */

params {
  account = "rrg-whsiao-ab"
  runTime       = 2.h
  singleCPUMem  = 1.GB // for processes that are using more memory but a single CPU only. Use the 'core' queue for these
}

// Extended set of fields, e.g. native_id, cpu and memory:
trace.fields = 'process,task_id,hash,name,native_id,attempt,status,exit,realtime,cpus,memory,%cpu,vmem,rss,submit,start,complete,duration,realtime,rchar,wchar'

process {
  clusterOptions = {"--account=$params.account"}
  cpus = 4
  executor = 'slurm'
  memory = 4.GB
 // queue = 'node'
  scratch = true
  time = 2.h

  errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
  maxErrors = '-1'
  maxRetries = 3

  withName:fastqc {
    cpus = 4
    memory = {params.singleCPUMem * 4 * task.attempt}
   // queue = 'core'
    time = {params.runTime * task.attempt}
  }
 
}
